.button {
  background: #f2f2f2;
  border-radius: 25px;
  padding-inline: 31.5px;
  padding-block: 11px 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
}

.button:hover {
  background-color: transparent;
  border-color: var(--body-text);
  color: var(--body-text);
}
